<main class ="div-main-bookmark">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xl-7">
        <div class="content-books">
          <div class="col-xl-9 preview">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9ba9fbd6-bd95-4a79-a949-d24421e1b588/d2u0k9i-164191ac-6144-4683-a72a-c845ab8acfca.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzliYTlmYmQ2LWJkOTUtNGE3OS1hOTQ5LWQyNDQyMWUxYjU4OFwvZDJ1MGs5aS0xNjQxOTFhYy02MTQ0LTQ2ODMtYTcyYS1jODQ1YWI4YWNmY2EuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oA02Yr3dtGkAf3hvDJEkBJVEilmFMBuo73ABmC0TO0U" class="img-fluid" width="400px" id="pr" alt="image">
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="parameter">
          <h1 class="display">Bookmarks</h1>
          <br>
          <h6>Rental service</h6>
          <hr>
          <div class="detail">
            <h5>By the THP team</h5>
          </div>
          <hr>
          <br>
          <div class="price">
            <h2><span><sup>€</sup></span>8,99/<sup>month</sup></h2>
          </div>
          <div class="btn-card">
            <div class="row">

              <a class="btn btn-outline-primary btn-dark text-white" href=" https://buy.stripe.com/test_3cs4gmbBW1Ei1iwfZ1" role="button" style="padding:15px">Suscribe</a> </div>            </div>
          </div>
          <div class="ppp-border container">
            <h6>
              <p>Reading is an art that should not be disturbed. Rather than spending time trying to find where we left off, the THP team implemented a bookmark system. This allows all reading enthusiasts to save the place where they stop and thus allow them to immerse themselves in their reading. This system is in the form of a subscription, different prices are offered to you in order to make the most of it.</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <br>
  <br>
  <br>
  <div class="second-part container">
    <div class="txt-center">
      
        <h2>For more information, watch the video below.</h2>
     
    </div>
  </div>
  <div class="video">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/_fQt_Qb73TA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</main>
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style ="font-weight: bold;font-size: 1.5em;">
              Kings Books
            </h6>
            <p style ="font-size: 1.2em;">
              Reading is an art that should not be disturbed. Rather than spending time trying to find where we left off, the THP team implemented a bookmark system.
            </p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style ="font-weight: bold;font-size: 1.5em;">Products</h6>
            <p>
              <a href ="<%= bookmarks_path %>" class="text-white" style ="font-size: 1.2em;">Bookmark</a>
            </p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold" style ="font-weight: bold;font-size: 1.5em;">
              Teams
            </h6>
            <p><a href="https://github.com/JonathanSchafeitel" class="text-white" style ="font-size: 1.2em;">Jonathan Schafeitel</a></p>
            <p><a href="https://github.com/klt56" class="text-white" style ="font-size: 1.2em;">Kevin Letourneur</a></p>
            <p><a href="https://github.com/Sarahmela93" class="text-white" style ="font-size: 1.2em;">Sarah Melaikia</a></p>
            <p><a href="https://github.com/matthieu-bouquin" class="text-white" style ="font-size: 1.2em;">Matthieu Bourquin</a></p>
            <p><a href="https://github.com/jerryfarwell" class="text-white" style ="font-size: 1.2em;">Jerry Farwell</a></p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold footer-titre-col" style ="font-weight: bold;font-size: 1.5em;">Contact</h6>
            <p><i class="fas fa-envelope mr-3" style ="font-size: 1.3em;"></i><a href="mailto:kings.books.mailer@gmail.com" style="text-decoration:none;color:white;"> kings.books.mailer@gmail.com</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
      <hr class="my-3">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3" style="font-size:1.5em;">
              © 2022 Copyright:
              <a class="text-white" href="https://github.com/JonathanSchafeitel/Kings-books">Kingsbooks</a>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Github -->
            <a href ="https://github.com/JonathanSchafeitel/Kings-books"
               class="btn btn-outline-light btn-floating m-1 text-white"
               role="button"
               ><i class="fa-brands fa-github"></i></a>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->