    <body>
        <div class="bgimg">
        <header>

        </header>

        <main>
            <div class="container"> 
                <div class="row" > 
                    <div class="col-md-6 m-auto">
                        <div class="heading">  
                            <h1>Contact us</h1> 
                        </div>

                        <div class="box-container">   

                            <div class="row">
                                <div class="col my-3">  
                                    <div class="form-floating ms-3">
                                        <input type="text" class="form-control" placeholder="First name" >
                                        <label for="floatingInputGroup1">First name</label>
                                    </div>
                                </div> 
                                <div class="col my-3">
                                    <div class="form-floating me-3"> 
                                        <input type="text" class="form-control" placeholder="Last name" >
                                        <label for="floatingInputGroup1">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mx-3">      
                                <input type="email" class="form-control" placeholder="name@example.com">
                                <label for="floatingInputGroup2">email</label>
                            </div>  
                            <hr class="m-3">

                            <div class="form-floating m-3">  
                                <input type="text" class="form-control" placeholder="subject">
                                <label for="floatingInputGroup3">Subject</label>
                            </div>

                            <div class="form-outline m-3">  
                                <textarea class="form-control" id="textAreaExample2" rows="8" placeholder="Message"></textarea>
                                <label for="floatingInputGroup3"></label>
                            </div>

                            <div>
                                <a  href="#" class="btn btn-outline-dark mx-3"> Send message </a>
                            </div>
                            <hr> 

                            <div style="text-align: center" > 
                                <h1>Contact Informations</h1>
                                    
                                    <div>
                                        <i class="fa-solid fa-location-dot"> Address</i>
                                        <p>5 av du gen, 97100 PTP</p>
                                    </div>  
                                    
                                    <div>
                                        <i class="fa-solid fa-phone"> Phone</i>
                                        <p>01 02 03 04 05</p>
                                    </div>   
                                    
                                    <div>
                                        <i class="fa-solid fa-envelope"> Email</i>  
                                        <p>mail@gmail.com</p>
                                    </div>
                                    
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>

        <footer>

        </footer>
        </div>
    </body>
</html>