body {margin: 0;}

ul.topnav {
  list-style-type: none;
  background-image: url(image_nav.jpg);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: 10% 20%;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: lightgoldenrodyellow;}

ul.topnav li a.active {background-color: lightcoral;}

ul.topnav li.right {float: right;}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  
@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
